body{
    font-family: 'Inter', sans-serif;
    /* background: linear-gradient(
        106.37deg,
        #e4e1fa 29.63%,
        #bbb8eb 51.55%,
        #b9aee9 90.85%
    ); */
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root{
    margin: 0;padding: 0;
    height: 100%;
    width: 100%;
}
